.wrapper{
    text-align: center;
    background-image: url(./images/galaxy.gif);
   height: 45rem;
}
.heading {
    color: white;
    padding-top: 3rem;
}
.flex-container {
    display: flex;
    margin-top: 10rem;
    justify-content: center;
}

.planet-image {
    width:20rem;
    height: 20rem;
    
}
.flex-item-description {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: white;
    font-size: 25px;

    
}
.description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30rem;
    white-space: pre;
}

.error {
    font-size: 20px;
    text-align: center;

}
.planet-weight {
    display: flex;
    justify-content: center;
    
}
